/*Krijimi i një fonti dhe thirrja e tij përmes ‘@font-face’ Rule*/

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiDypQbbpP3T7ACMpxLp7qReCkY5hS1-3xyfQ.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  /*Shfrytëzimi i CSS vetive në vijim: 
-	background-color 
-	background-image 
-	background-repeat - background-attachment 
-	background-position */
body {
    font-family: Poppins, sans-serif;
    background-color: #1c1c1c; /* Vlera e background-color */
    background-image: url('https://img.freepik.com/premium-photo/wallpaper-simple-solid-color-background-flat-image-dark-tones_780838-7386.jpg'); /* Shtimi i një imazhi në sfond */
    background-repeat: no-repeat; /* Mos përsëritje e imazhit */
    background-attachment: fixed; /* Mbajtja e imazhit të sfondit në pozita fikse */
    background-position: center center; /* Pozicionimi i imazhit në qendër të ekranit */
    color: #eee;
    margin: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #eee;
}

header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a:hover {
    color: #ff6f61;
}

header a {
    margin-right: 40px;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #ddd;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    color: #eee;
}

button {
    background-color: #606a70;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #f1683a;;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.form-group .checkbox-group {
    display: flex;
    flex-direction: column;
}

.form-group .checkbox-group input {
    margin-bottom: 5px;
}

.form-group input[type="range"] {
    width: 100%;
}

.range-value {
    font-size: 14px;
    margin-top: -10px;
    color: #ddd;
}

.form-group .date-picker {
    background-color: #444;
}
